
<br><p id="notice"><%= notice %></p>

<div class="container">
<div class="row">
<div class="col-md-6">


<%= image_tag @school.image.url(:large), class:"img-responsive" %>


<p>

<p>
  <strong>Name of the school:</strong>
  <%= @school.name_of_the_school %>
</p>

<p>
  <strong>Board:</strong>
  <%= @school.board %>
</p>

<p>
  <strong>Type:</strong>
  <%= @school.typ %>
</p>

<p>
  <strong>Name of the principal:</strong>
  <%= @school.name_of_the_principal %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @school.contact_person %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @school.contact_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @school.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @school.website %>
</p>
<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_school_path(@school), class: "btn btn-link" %>
<% end %> |
<%= link_to 'Back', schools_path, class: "btn btn-link" %>

</div>
</div>
</div>
</div>
