
<br><p id="notice"><%= notice %></p>

<div class="container">
<div class="row">
<div class="col-md-6">


<%= image_tag @school.image.url(:large), class:"img-responsive" %>


<p>

<p>
  <strong>Name of the school:</strong>
  <%= @school.name_of_the_school %>
</p>

<p>
  <strong>Board:</strong>
  <%= @school.board %>
</p>

<p>
  <strong>Type:</strong>
  <%= @school.typ %>
</p>

<p>
  <strong>Name of the principal:</strong>
  <%= @school.name_of_the_principal %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @school.contact_person %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @school.contact_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @school.email %>
</p>

<p>
  <strong>Website:</strong>
  <%=link_to @school.website, @school.website %>
</p>
<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_school_path(@school), class: "btn btn-link" %>
<% end %> 
<%= link_to 'Back', schools_path, class: "btn btn-link" %>

</p>
</div>

<div class="container">
<div class="row">
<div class="col-md-6">

            <div class="price-table">
              <!-- Plan  -->
              <div class="pricing-head">
                <h4>Premium Plan</h4>
            <b><h3>Start from</b> </h3><span class="fa fa-inr curency"></span> <span class="amount">999</span> 
              </div>
              <!-- Plean Detail -->
              <div class="price-in mart-15">
                <a href="/contacts/new" class="btn btn-bg green btn-block">For More Info.</a> 

              </div>
            </div>
          </div>
          <br>
</div>
</div>
</div>
</div>
</div>
<div>
</div>
</div>